@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Geist', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
}

img {
  max-width: 192px;
}

p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: justify;
}

li {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
}

footer {
  margin-top: auto;
}
